nav{
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.navbar-nav > li:hover
{
	background: #03b1ff;
}

.mainbody{
	font-size: 18px;
	font-family: 'Acme', sans-serif;
}

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

footer{
	background: #ddd;
}

p{
	color: #999;
	line-height: 25px;
}
h2,h3{
	color: #fff;
}
h2{
	font-size: 18px;
}






body
{
    background: #ff8b8b;

}
.panel
{
	font-family: 'Fjalla One', sans-serif;
	background: white;
	color: black;
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}

































/* FOOTER-----------------------------*/
footer{
	color: #fff;
}
.footer-top{
	background: #111;
	padding: 80px 0;
}
.segment-one h3{
	font-family: 'Comic Neue', cursive;
	color: #fff;
	letter-spacing: 3px;
	margin: 10px 0;
}

.segment-two h2{
	color: #fff;
	font-family: 'Comic Neue', cursive;
	text-transform: uppercase;
}

.segment-two h2:before{
	content: '|';
	color: #c65039;
	font-family: 'Comic Neue', cursive;
	padding-right: 10px;
}

.segment-two ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.segment-two ul li{
	border-bottom: 1px solid rgba(255,255,255,0.3);
	line-height: 40px;
}

.segment-two ul li a{
	color: #999;
	text-decoration: none;
}

.segment-three h2{
	color: #fff;
	font-family: 'Comic Neue', cursive;
	text-transform: uppercase;
}

.segment-three h2:before{
	content: '|';
	color: #c65039;
	font-family: 'Comic Neue', cursive;
	padding-right: 10px;
}

.segment-three a{
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}

.segment-three a i{
	font-size: 20px;
	color: #fff;
	padding: 10px 12px;
}

.segment-four h2{
	color: #fff;
	font-family: 'Comic Neue', cursive;
	text-transform: uppercase;
}

.segment-four h2:before{
	content: '|';
	color: #c65039;
	font-family: 'Comic Neue', cursive;
	padding-right: 10px;
}

.segment-four form input[type=submit]{
	background: #c65039;
	border: none;
	padding: 3px 15px;
	margin-left: 1px;
	color: #fff;
	text-transform: uppercase;
}

.footer-bottom-text{
	text-align: center;
	background: #000;
	line-height: 75px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.md-mb-30{
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.sm-mb-30{
		margin-bottom: 30px;
	}
	.footer-top{
		padding: 50px 0;
	}
}